<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{page.title}}</title>
        <meta charset="utf-8">
        <meta name="description" content="The dchem program homepage">
        <link rel="Shortcut Icon" type="image/ico" href="img/favicon.png">
        <link rel="stylesheet" href="css/style.css" type="text/css" media="screen">
    </head>
    <body>
        <div class="header"><a href="http://fawzi.github.com/dchem"><img src ="http://fawzi.github.com/dchem/img/dchem100x100.png"></a>
        </div>
        <div class="inside">
            <h1><span>Dchem:</span>explore reactions</h1>
            {{content}}
        </div>
        <div class="right">
            <p class="small">the dchem developer group</p>
        </div>
    </body>
</html>
