<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{page.title}}</title>
        <meta charset="utf-8">
        <meta name="description" content="The dchem program homepage">
        <link rel="Shortcut Icon" type="image/ico" href="img/favicon.png">
        <link rel="stylesheet" href="css/style.css" type="text/css" media="screen">
    </head>
    <body>
        <div class="header"><a href="http://fawzi.github.com/dchem"><img src ="http://fawzi.github.com/dchem/img/dchem100x100.png"></a>
        </div>
        <div class="inside">
            <h1><span>Dchem:</span>explore reactions</h1>
            {{content}}
        </div>
        <div class="aside">
            <div class="inside">
                <p><a href="About.html">About dchem</a></p>
<p>The source code is available at <a href="https://github.com/fawzi/dchem">https://github.com/fawzi/dchem</a></p>
<p>blip is available at <a href="http://fawzi.github.com/blip">http://fawzi.github.com/blip</a></p>
            </div>
        </div>
        <div class="inside">
            <p>the dchem developer group</p>
        </div>
    </body>
</html>
